body{
	background:#8F8F94;
	color: #EFEFF4;
	line-height: 1.7;
}
a{
	color: #EFEFF4;
	text-decoration: none;
}
.side-bar{
	float:left;
	width: 20%;
	position: fixed;
}
.side-bar > *{
	padding: 10px 15px;
}
.side-bar .nav a{
	display: block;
	margin: 10px;
	color: #BBBBBB;
	font-weight: 700;
	transition: color 2000ms;
	/*-webkit-transition: color 2000ms;*/
}
.side-bar .tag-list a{
	display: block;
	margin: 10px;
	color: #BBBBBB;
	transition: color 200ms;
	/*-webkit-transition: color 200ms;*/
}
.side-bar .nav a:hover{
	color: #EFEFF4;
}
.side-bar .tag-list a:hover{
	color: #EFEFF4;
}
.main{
	float: right;
	width: 80%;
	color: #454545;
}
.header .logo{
	padding: 10px 20px;
	font-size: 30px;
	display: inline-block;
	border:5px solid #eee;
	margin-bottom: 15px;
	line-height: 1;
}
.article-list{
	background: #FFFFFF;
	margin-right: 30%;
	padding: 20px 30px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.article-list a{
	color: #454545;
}
.article-list .item{
	margin: 10px 0;
	margin-bottom: 20px;
}
.article-list .item .title{
	font-size: 25px;
	font-weight: 700;
}
.article-list .item .status{
	font-size: 16px;
	color: #CCCCCC;
}
#menu-checkbox,
#menu-toggle{
	display: none;
}
